.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar .navbar-nav .nav-link {
  padding :1.87rem 1.25rem;
  color: var(--text-white);
  text-transform: capitalize;
  transition: 3s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #f8f9fa;
}

h1, h2, h3 {
  font-weight: bold;
  margin: 20px 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button.btn-primary {
  background-color: #007bff;
  color: #fff;
}

button.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
